{:paths ["src" "resources"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo"}}

 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/tools.cli {:mvn/version "1.0.194"}
  com.taoensso/timbre {:mvn/version "5.1.0"}
  clj-python/libpython-clj {:mvn/version "2.00-alpha-6"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "0.10.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}}}
